.venv
Dashboard
*.tar.gz
*.log
__pycache__/
*.pyc
.env
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.out
*.class
*.tar
*.zip
*.rar
sandbox.py
*.iml
*.orig

# Python
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

# IDEs and editors
.idea